body {
    height: 100%;
    width: 100%;
    background: white;
    padding: 0px;
    margin: 0px;
}

/*  basic styles*/

.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

/*----------Colours*/
.text-black {
    color: black;
}

/*----------nav-bar*/
.home-bar {
    background: rgb(0, 94, 0);
    color: white;
    margin-bottom: -1px;
    height: 60px;
    z-index: 1;
    border: 4px solid rgb(0, 94, 0);
}

.home-bar a {
    text-decoration: none;
    color: white;
}


.logo {
    color: #ffffff;
    font-size: 32px;
    position: relative;
    letter-spacing: 10px;

}

.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    background: rgb(0, 94, 0);
}

.box {
    display: flex;
    transform-style: preserve-3d;
    gap: 5px;
    transform: rotateY(0deg) rotateX(0deg);

}

.box .text {
    position: relative;
    width: 40px;
    height: 40px;
    transform-style: preserve-3d;
    animation-name: rotate;
    animation-duration: 1.25s;
    animation-delay: calc(0.25s * var(--j));
    animation-timing-function: ease-in;
}



@keyframes rotate {
    from {
        transform: rotateX(0deg);
    }

    to {
        transform: rotateX(-1080deg);
    }
}

.box .text::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #373737;
    transform-origin: left;
    transform: rotateY(90deg) translateX(10px);

}

.box .text span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#434343, #535353);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #fff;
    transform-style: preserve-3d;
    transform: rotateX(calc(90deg * var(--i))) translateZ(20px);


}

@media only screen and (max-width: 768px) and (min-width: 10px) {
    .box .text {
        width: 30px;
        height: 30px;
        font-size: 10px;
    }

    .box .text span {
        transform: rotateX(calc(90deg * var(--i))) translateZ(14px);
    }


    .box {
        gap: 3px;
    }

    .logo {
        font-size: 20px;
        letter-spacing: 5px;
    }
}

.login {
    position: relative;
    height: 60px;
}

.login a {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
}

.navigation {
    width: 100%;
    height: 70px;
    background: rgb(0, 94, 0);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navigation ul {
    list-style: none;
    display: flex;
    width: 100%;
    padding: 0px;
    z-index: 1;
}

.navigation ul li {
    position: relative;
    list-style-type: none;
    height: 70px;
    width: 25%;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;


}




.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 70px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.navigation ul .active a .icon {
    transform: translateY(35px);
    background: white;
    top: 50%;
    color: black;
    background: radial-gradient(circle at 25px 25px, white, grey);
    border: 6px solid white;
    transition: 0.4s;
}



.navigation ul li a .text {
    position: absolute;
    color: white;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.25s;
    opacity: 0;
    transform: translateY(-25px);
}

.navigation ul .active a .text {
    opacity: 1;
    transform: translateY(-15px);

}

/*----------flash message box*/
.flash-box {
    margin-top: 30px;
}

/*---------- forms*/
.form-block {
    margin-bottom: 30px;
}

.item {
    color: grey;
}

.item__active {
    color: rgb(0, 94, 0);
}

.btn {
    border: #000 2px solid;
    color: rgb(0, 94, 0);
    background: white;
}


.btn:hover,
.btn:active,
.btn:focus {
    background: rgb(0, 94, 0);
    border: #000 2px solid;
    color: white;
}

/*----------accordion team page*/
.edit-team {
    text-decoration: none;
    color: black;
}

.edit-team:hover {
    color: black;
}

.accord-ion-block {
    background: #eee;
    border: 2px solid black;
}

.accord-ion {
    cursor: pointer;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/*----------footer*/

footer {
    height: 50px;
    background-color: rgb(0, 94, 0);
    border-top: 2px solid black;
    color: white;
    width: 100%;
    bottom: 0px;
    margin-top: 60px;
}