body {
    height: 100%;
    width: 100%;
    background: white;
    padding: 0px;
    margin: 0px;
}

/*  basic styles*/

.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

/*----------Colours*/
.text-black {
    color: black;
}

/*----------nav-bar*/


.home-bar {
    background: rgb(0, 94, 0);
    color: white;
    margin-bottom: 0px;
    height: 60px;
    z-index: 1;
}

.home-bar a {
    text-decoration: none;
    color: white;
}

.login {
    position: relative;
    height: 60px;
}

.login a {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
}

.navigation {
    width: 100%;
    height: 70px;
    background: rgb(0, 94, 0);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navigation ul {
    list-style: none;
    display: flex;
    width: 100%;
    padding: 0px;
    z-index: 1;
}

.navigation ul li {
    position: relative;
    list-style-type: none;
    height: 70px;
    width: 25%;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;

}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 70px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.navigation ul .active a .icon {
    transform: translateY(35px);
    background: white;
    top: 50%;
    color: black;
    background: radial-gradient(circle at 25px 25px, white, grey);
    border: 6px solid white;
    transition: 0.4s;
}



.navigation ul li a .text {
    position: absolute;
    color: white;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.25s;
    opacity: 0;
    transform: translateY(-25px);
}

.navigation ul .active a .text {
    opacity: 1;
    transform: translateY(-15px);

}

/*----------flash message box*/
.flash-box {
    margin-top: 30px;
}

/*----------forms*/
.form-block {
    margin-bottom: 30px;
}

.item {
    color: grey;
}

.item__active {
    color: rgb(0, 94, 0);
}

.btn {
    border: #000 2px solid;
    color: rgb(0, 94, 0);
    background: white;
}


.btn:hover,
.btn:active,
.btn:focus {
    background: rgb(0, 94, 0);
    border: #000 2px solid;
    color: white;
}

/*----------footer*/

footer {
    height: 50px;
    background-color: rgb(0, 94, 0);
    border-top: 2px solid black;
    color: white;
    width: 100%;
    bottom: 0px;
    margin-top: 60px;
}