body {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

/*  basic styles*/

.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.card {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 50px;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.border-grey {
    border-bottom: 2px solid #ccc;

}

.cap {
    text-transform: capitalize;
}

.boxshadow {
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    transition: box-shadow 0.6s cubic-bezier(.79, .21, .06, .81);
}

/*----------Colours*/
.text-black {
    color: black;
}

/*----------nav-bar*/
.navigation-bar {
    z-index: 2;


}

.home-bar {

    color: white;
    margin-bottom: -1px;
    height: 65px;
    z-index: 1;
    background-image: url(/static/images/grass-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.border-bottom {
    border-bottom: black 2px solid !important;
}

.home-bar a {
    text-decoration: none;
    color: white;
}


.logo {
    color: #ffffff;
    font-size: 32px;
    position: relative;
    letter-spacing: 10px;
    font-weight: bolder;

}

.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;

}

.box {
    display: flex;
    transform-style: preserve-3d;
    gap: 5px;
    transform: rotateY(0deg) rotateX(0deg);
}

.box .text {
    position: relative;
    width: 40px;
    height: 40px;
    transform-style: preserve-3d;
    animation-name: rotate;
    animation-duration: 1.25s;
    animation-delay: calc(0.25s * var(--j));
    animation-timing-function: ease-in;
}



@keyframes rotate {
    from {
        transform: rotateX(0deg);
    }

    to {
        transform: rotateX(-1080deg);
    }
}

.box .text::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #373737;
    transform-origin: left;
    transform: rotateY(90deg) translateX(10px);

}

.box .text span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#434343, #535353);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #fff;
    transform-style: preserve-3d;
    transform: rotateX(calc(90deg * var(--i))) translateZ(20px);


}

@media only screen and (max-width: 768px) and (min-width: 10px) {
    .box .text {
        width: 30px;
        height: 30px;
        font-size: 10px;
    }

    .box .text span {
        transform: rotateX(calc(90deg * var(--i))) translateZ(14px);
    }


    .box {
        gap: 3px;
    }

    .logo {
        font-size: 20px;
        letter-spacing: 5px;
    }
}

.login {
    position: relative;

}

.login a {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    text-decoration: none;
    color: white;
    background: rgba(255, 255, 255, 0.5);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    color: black;
    margin: 2px 0 0 2px;
    background: radial-gradient(circle at 25px 25px, white, grey);
    border: 1px solid transparent;


}

@media only screen and (min-width: 768px) {
    .login a {
        margin-left: 60%;
    }
}

.login a span {
    font-size: 10px;
    line-height: 24px;
}

.login a span .login-icon {
    font-size: 1.8em;
}

.navigation {
    width: 100%;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/static/images/grass-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: black 2px solid;

}

.navigation ul {
    list-style: none;
    display: flex;
    width: 100%;
    padding: 0px;
    z-index: 1;
}

.navigation ul li {
    position: relative;
    list-style-type: none;
    height: 70px;
    width: 25%;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 70px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

@media only screen and (min-width: 768px) {
    .navigation ul li a .icon {
        background: rgba(255, 255, 255, 0.5);
        color: black;
    }
}

.navigation ul .active a .icon {
    transform: translateY(35px);
    background: white;
    top: 50%;
    color: black;
    background: radial-gradient(circle at 25px 25px, white, grey);
    border: 6px solid white;
    transition: 0.4s;
}

.navigation ul li a .text {
    position: absolute;
    color: white;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.25s;
    opacity: 0;
    transform: translateY(-25px);
}

.navigation ul .active a .text {
    opacity: 1;
    transform: translateY(-15px);

}

/*----------flash message box*/
.white-block {
    margin-top: 30px;
}

.message {
    height: 70px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 30px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
}

.success-message {
    background-color: #2ecc40;
}

.error-message {
    background-color: #ff4136;
}

.message .row {
    height: 100%;
}

@media only screen and (max-width: 768px) and (min-width: 10px) {
    .message {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.message-icon {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    text-align: center;
    line-height: 70px;
    height: 100%;
    font-size: 2em;
}



.message-body {
    color: white;
    line-height: 70px;
    height: 100%;
    padding-left: 10px;
    position: relative;
}

.Message-button {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 10px;
    top: 10px;
    border: none;
    background: transparent;
    color: white;
}

@media only screen and (max-width: 768px) and (min-width: 10px) {
    .Message-button {
        background: rgba(0, 0, 0, 0.25);
    }
}


.Message-button:hover {
    background: rgba(0, 0, 0, 0.25);
}


.Message-button ion-icon {
    position: absolute;
    right: 3px;
    top: 4px;
    font-size: 1.2em;

}

.Message-button:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.is-hidden {
    opacity: 0;
    height: 0;
    font-size: 0;
    padding: 0;
    margin: 0 auto;
    display: block;
}

/*---------- forms*/
.form-block {
    margin-bottom: 30px;
}

.item {
    color: grey;
}

.item__active {
    color: rgb(0, 94, 0);
}

.btn {
    border: #000 2px solid;
    color: rgb(0, 94, 0);
    background: white;
}


.btn:hover,
.btn:active,
.btn:focus {
    background: rgb(0, 94, 0);
    border: #000 2px solid;
    color: white;
}

/*----------accordion team page*/
.edit-team {
    text-decoration: none;
    color: rgb(0, 94, 0);
    padding: 0;
}

.edit-team:hover {
    color: black;
}

.accord-ion-block {
    border-bottom: 1px solid grey;
}

.accord-ion {
    cursor: pointer;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.card {
    position: unset;
}

.accord-ion-item {
    color: rgb(0, 94, 0);
    border: #000 2px solid;
    color: rgb(0, 94, 0);
    background: white;
    margin-bottom: 5px;
    border-radius: 0.25rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

/*----------stopwatch page*/

.team-btn a {
    text-decoration: none;
    color: black;
}

.team-btn a:hover {
    text-decoration: none;
    color: white;
}

.stopwatch-block {
    margin-bottom: 80px;
}

.frame {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 5px 5px 0 5px;
    position: relative;

}

.btns {
    height: 35px;
    width: 70px;
    border-radius: 3px;
    background: #e0e5ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    transition: box-shadow 0.6s cubic-bezier(.79, .21, .06, .81);
    font-size: 26px;
    color: #666;
    text-decoration: none;
}

.store {
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    transition: box-shadow 0.6s cubic-bezier(.79, .21, .06, .81);
    color: #666;
    text-decoration: none;
    border-radius: 3px;
    font-size: 26px;
    justify-content: center;
    align-items: center;
    border: none;
    background: #e0e5ec;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;

}

/*----------teams page*/

.teams-block {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
    height: 100%;
}

/*----------results page*/

.results-btn a {
    text-decoration: none;
    color: rgb(0, 94, 0);
}

.results-btn:hover a {
    text-decoration: none;
    color: white;
}

.results-card {
    display: unset;

}

/*----------footer*/

footer {
    height: 50px;
    background-image: url(/static/images/grass-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 2px solid black;
    color: white;
    width: 100%;
    bottom: 0px;
    position: fixed;
    z-index: 2;
}