<!DOCTYPE html>
<html lang="en">

<head>
    <!--- Meta information --->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This is a website for coaches to keep time for their players">
    <meta name="keywords" content="Sport, timer, coach, stopwatch, hockey, match, management">
    <meta name="author" content="Paul Dijxhoorn">

    <!--- links css --->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />

    <!--- links js --->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!--- Icon tab --->

    <title>Bench Time</title>
</head>

<body>
    <div class="navigation-bar sticky-top">
        <div class="home-bar row g-0" id="home-bar">
            <div class="col-2"></div>
            <div class="col-8">
                <a href="{{ url_for('home') }}">
                    <div class="logo-box">
                        <div class="logo"> BENCH-</div>
                        <div class="box">
                            <div class="text" style="--j:3;">
                                <span style="--i:0;">T</span>
                                <span style="--i:1;">0</span>
                                <span style="--i:2;">1</span>
                                <span style="--i:3;">2</span>
                            </div>
                            <div class="text" style="--j:2;">
                                <span style="--i:0;">I</span>
                                <span style="--i:1;">8</span>
                                <span style="--i:2;">9</span>
                                <span style="--i:3;">0</span>
                            </div>
                            <div class="text" style="--j:1;">
                                <span style="--i:0;">M</span>
                                <span style="--i:1;">0</span>
                                <span style="--i:2;">1</span>
                                <span style="--i:3;">2</span>
                            </div>
                            <div class="text" style="--j:0;">
                                <span style="--i:0;">E</span>
                                <span style="--i:1;">9</span>
                                <span style="--i:2;">1</span>
                                <span style="--i:3;">2</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% if session.user %}
            <div class="col-2  text-end login">
                <a href="{{ url_for('logout') }}">

                    <span class="text">Log out</span>
                    <span class="icon">
                        <ion-icon name="log-in-outline"></ion-icon>
                    </span>
                </a>
            </div>
            {% else %}
            <div class="col-2 text-end login">
                <a href="{{ url_for('login') }}">

                    <span class="text">Login</span>
                    <span class="icon">
                        <ion-icon name="log-in-outline"></ion-icon>
                    </span>
                </a>
            </div>
            {% endif %}
        </div>
        {% if session.user %}
        <div class="navigation" id="navigation">
            <ul>
                <li class="list" id="timer">
                    <a href="{{ url_for('stopwatch') }}">

                        <span class="text">Stopwatch</span>
                        <span class="icon">
                            <ion-icon name="stopwatch-outline"></ion-icon>
                        </span>
                    </a>
                </li>
                <li class="list" id="team">
                    <a href="{{ url_for('team') }}">

                        <span class="text">Teams</span>
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                    </a>
                </li>
                <li class="list" id="results">
                    <a href="{{ url_for('results') }}">

                        <span class="text">Results</span>
                        <span class="icon">
                            <ion-icon name="analytics-outline"></ion-icon>
                        </span>
                    </a>
                </li>
                <li class="list" id="settings">
                    <a href="{{ url_for('settings') }}">

                        <span class="text">Settings</span>
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                    </a>
                </li>
                <div class="indicator"></div>
            </ul>
        </div>
    </div>

    {% endif %}
    <!-- flash messages -->
    <section class="flash-box">
        <!-- flash messages error -->
        {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
        {%- for msg in errors %}
        <div class="message error-message">
            <div class="row g-0 ">
                <div class=" col-2 message-icon">
                    <ion-icon name="close-outline"></ion-icon>
                </div>
                <div class=" col-10 message-body">
                    <p>{{ msg }}</p>
                    <button class="Message-close js-messageClose Message-button">
                        <ion-icon name="close-outline"></ion-icon>
                    </button>
                </div>

            </div>
        </div>
        {% endfor -%}
        {% endif %}
        {% endwith %}
        <!-- flash messages success -->
        {% with success = get_flashed_messages(category_filter=["success"]) %}
        {% if success %}
        {%- for msg in success %}
        <div class="message success-message">
            <div class="row g-0 ">
                <div class=" col-2 message-icon">
                    <ion-icon name="checkmark-outline"></ion-icon>
                </div>
                <div class=" col-10 message-body">
                    <p>{{ msg }}</p>
                    <button class="Message-close js-messageClose Message-button">
                        <ion-icon name="close-outline"></ion-icon>
                    </button>
                </div>

            </div>
        </div>
        {% endfor -%}
        {% else %}
        <div class="white-block"></div>
        {% endif %}
        {% endwith %}
        <div id="closed"></div>
    </section>

    <!--- content block --->
    {% block content %}
    {% endblock %}

    <!--- footer --->
    <footer class="col-12 row g-0 justify-content-center mt-3">
        <div class="col-lg-4 col-sm-12 footer-content text-center">© 2022 Bench-Time</div>
    </footer>

    <!--- js loaded at end --->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/messages.js"></script>
</body>

</html>