{% extends "base.html"%}
{% block content %}

<h2 class="text-center text-black">Home</h2>

<div class="card col-10 offset-1">
    <p class="main-explanation p-3 text-black">
        Welcome to this site. This site is meant for coaches and managers of sport teams.
        To be able to time all the players bench and field times simultaneous.
        To be able to use the functionality of this site you have to register/ log-in.
        This is a free to use website.
    </p>
    <a href="{{ url_for('login') }}" class="btn m-3">Log in here</a>
    <a href="{{ url_for('register') }}" class="btn m-3">Register Account</a>
</div>


{% endblock %}