{% extends "base.html"%}
{% block content %}



<h2 class="text-center text-black">Stopwatch</h2>
<div class=" row g-0 m-3 mb-5">
    {% for team in userTeam %}
    <div class="card col-sm-12 col-md-6 col-lg-4">
        <h5 class="card-header">{{ team.teamName }}</h5>
        <div class="card-body">
            <h5 class="card-title">Matches played:</h5>
            <p class="card-text">extra text</p>
            <a href="{{ url_for('stopwatchClock', team_id=team._id) }}" class="btn btn-primary">Time this team</a>
        </div>
    </div>
    {% endfor %}
</div>




{% endblock %}